---
- name: Installeer ArgoCD
  hosts: localhost
  connection: local
  tasks:
    - name: Maak ArgoCD namespace aan
      kubernetes.core.k8s:
        name: argocd
        api_version: v1
        kind: Namespace
        state: present

    - name: Download en installeer ArgoCD (Core installatie)
      kubernetes.core.k8s:
        state: present
        src: https://raw.githubusercontent.com/argoproj/argo-cd/v3.2.1/manifests/install.yaml
        namespace: argocd

    - name: Wacht tot ArgoCD pods starten 
      shell: kubectl wait --for=condition=Available deployment/argocd-server -n argocd --timeout=300s
      register: result
      ignore_errors: yes

    - name: Patch ArgoCD service naar LoadBalancer 
      shell: |
        kubectl patch svc argocd-server -n argocd -p '{"spec": {"type": "LoadBalancer"}}'