---
- name: 1. Installeer K3s Master
  hosts: server
  become: true
  tasks:
    - name: Download en installeer K3s (Master)
      shell: curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s

    - name: Wacht tot K3s start
      wait_for:
        port: 6443
        delay: 5
        timeout: 300

    - name: Haal node-token op (voor workers)
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_token_base64

    - name: Stel token vast
      set_fact:
        k3s_token: "{{ k3s_token_base64['content'] | b64decode | trim }}"

- name: 2. Installeer K3s Workers
  hosts: agent
  become: true
  tasks:
    - name: Join het cluster
      shell: "curl -sfL https://get.k3s.io | K3S_URL=https://{{ hostvars[groups['server'][0]]['inventory_hostname'] }}:6443 K3S_TOKEN={{ hostvars[groups['server'][0]]['k3s_token'] }} sh -"
      args:
        creates: /usr/local/bin/k3s-agent

- name: 3. Configureer Ansible VM als Controller
  hosts: server
  become: true
  tasks:
    - name: Haal kubeconfig op naar Ansible VM
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: ~/.kube/config
        flat: yes

- name: 4. Pas config aan op Ansible VM
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Maak .kube map aan
      file:
        path: ~/.kube
        state: directory
        mode: '0700'

    - name: Pas rechten aan van config
      file:
        path: ~/.kube/config
        mode: '0600'

    - name: Zet Master IP in config (vervang localhost)
      replace:
        path: ~/.kube/config
        regexp: '192.168.124.31'
        replace: "{{ hostvars[groups['server'][0]]['inventory_hostname'] }}"
      
    - name: Installeer kubectl op Ansible VM (indien niet aanwezig)
      become: true
      get_url:
        url: "https://dl.k8s.io/release/v1.29.0/bin/linux/amd64/kubectl"
        dest: /usr/local/bin/kubectl
        mode: '0755'